<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <meta name="author" content="Matthew Wong">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Matthew Wong's professional website">
        <title>Matthew Wong</title>
    </head>
    <body onload="addYear()">
        <header>
            <h1 id="webname">Matthew Wong</h1>
            <nav>
                <a href="index.html">Home</a>
                <a href="CV.html">CV</a>
                <a href="contact.html">Contact me</a>
                <a href="fun.html">For fun</a>
            </nav>
        </header>
        <div class="main">
            <h2>Curriculum Vitae</h2>
            <table>
                <tr><th>Name</th><th>Description</th></tr>
                <tr><td>first</td><td>Matthew</td></tr>
                <tr><td>last</td><td>Wong</td></tr>
            </table>
            <a href="../static/resume.pdf" target="_blank">My resume – pdf version</a>
        </div>
        <footer>
            <p id="copyYear">Matthew Wong &copy;</p>
        </footer>
    </body>
</html>