<!DOCTYPE html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Say it With Sweets – Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header>
            <img src="../static/logo.png" alt="Say it With Sweets Logo">
            <nav>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li><a href="products.html">Our Products</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                </ul>
              </nav>
        </header>
        <main>
            <section id="hero">
                <h1>Welcome to Say It With Sweets!</h1>
            </section>
    
            <section id="what-we-do">
                <div class="container">
                    <div class="content">
                        <h2>What we do</h2>
                        <p>Say it with Sweets is a bakery that provides cakes, cookies, cupcake creations for all occasions, and offers unique sweet gifts. Located in Altoona, Pennsylvania, we've been in business for over 12 years.</p>
                    </div>
                    <div class="image">
                        <img src="../static/image1.jpeg" alt="What we do">
                    </div>
                </div>
            </section>

            <section id="our-story">
                <div class="container">
                    <div class="story-content">
                        <div class="story-image">
                            <img src="../static/image2.jpeg" alt="Our Story">
                        </div>
                        <div class="story-text">
                            <h2>Our story</h2>
                            <p>Say it With Sweets was started in 2012 by Sharon Ebersole. With a passion for baking and making people smile, Sharon set out to create a bakery that could provide sweet treats for any occasion.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <footer>
            &copy; 2024 Say it With Sweets. All rights reserved.
        </footer>
    </body>
</html>