<!DOCTYPE html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Say It With Sweets – Products</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    </head>
    <body>
        <header>
            <img src="../static/logo.png" alt="Say it With Sweets Logo">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html" class="active">Our Offerings</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </nav>
            <button id="darkModeToggle">Toggle Dark Mode</button>
        </header>
        <!-- Using the https://kenwheeler.github.io/slick/ library here -->
        <section id="products">
            <div class="category-buttons center">
                <button data-category="cakes" class="active">Cakes</button>
                <button data-category="cupcakes">Cupcakes</button>
                <button data-category="cookies">Cookies</button>
            </div>
            <div class="product-carousel">
                <div class="product-category" data-category="cakes">
                    <div class="container">
                        <div class="content center">
                            <h2>Cookie cakes</h2>
                        </div>
                        <div class="image">
                            <img src="../static/media/cc.jpeg" alt="Cookie cakes">
                        </div>
                    </div>
                    <div class="container">
                        <div class="product-image">
                            <div class="image-carousel">
                                <div>
                                    <img src="../static/media/a1.jpeg" alt="Anniversary Cakes">
                                    <h3 class="image-caption">Anniversary cakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/a2.jpeg" alt="What we do">
                                    <h3 class="image-caption">Graduation cakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/a3.jpeg" alt="Baby Shower Cakes">
                                    <h3 class="image-caption">Baby shower cakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/a4.jpeg" alt="Baptism Cakes">
                                    <h3 class="image-caption">Baptism cakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/a5.jpeg" alt="Birthday Cakes">
                                    <h3 class="image-caption">Birthday cakes</h3>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <h2 class="center">Custom theme cakes</h2>
                        </div>
                    </div>
                </div>
                <div class="product-category" data-category="cupcakes">
                    <div class="container">
                        <div class="content center">
                            <h2>Cupcake bouquets</h2>
                        </div>
                        <div class="image">
                            <img src="../static/media/cb.jpeg" alt="Cupcake bouquets">
                        </div>
                    </div>
                    <div class="container">
                        <div class="product-image">
                            <div class="image-carousel">
                                <div>
                                    <img src="../static/media/cc1.jpeg" alt="Graduation cupcakes">
                                    <h3 class="image-caption">Graduation cupcakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/cc2.png" alt="Celebration cupcakes">
                                    <h3 class="image-caption">Celebration cupcakes</h3>
                                </div>
                                <div>
                                    <img src="../static/media/cc3.jpeg" alt="Holiday cupcakes">
                                    <h3 class="image-caption">Holiday cupcakes</h3>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <h2 class="center">Custom theme cupcakes</h2>
                        </div>
                    </div>
                </div>
                <div class="product-category" data-category="cookies">
                    <div class="container">
                        <div class="content center">
                            <h2>Cookie trays</h2>
                        </div>
                        <div class="image">
                            <img src="../static/media/ct.jpeg" alt="Cookie trays">
                        </div>
                    </div>
                    <div class="container">
                        <div class="product-image">
                            <div class="image-carousel">
                                <div>
                                    <img src="../static/media/c1.jpeg" alt="Holiday cookies">
                                    <h3 class="image-caption">Holiday cookies</h3>
                                </div>
                                <div>
                                    <img src="../static/media/c2.jpeg" alt="Birthday cookies">
                                    <h3 class="image-caption">Birthday cookies</h3>
                                </div>
                                <div>
                                    <img src="../static/media/c3.jpeg" alt="Celebration cookies">
                                    <h3 class="image-caption">Celebration cookies</h3>
                                </div>
                            </div>
                        </div>
                        <div class="product-details">
                            <h2 class="center">Custom theme cookies</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="content center">
                            <h2>Cookie gift boxes</h2>
                        </div>
                        <div class="image">
                            <img src="../static/media/cgb.jpeg" alt="Cookie gift boxes">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <footer>
            &copy; 2024 Say it With Sweets. All rights reserved.
        </footer>
    </body>
</html>